<% include partials/header.ejs %>
<div id="wrapper">
		<header id="header">
			<div class="inner">
					<a href="/" class="logo">
						<span class="symbol"><img src="/images/logo.svg" alt="" /></span><span class="title">INFOR x ZSISC</span>
					</a>
					<nav>
						<ul>
							<li><a href="#menu">Menu</a></li>
						</ul>
					</nav>
			</div>
		</header>
		<nav id="menu">
			<% if (currentUser) { %>
				<h2><%= currentUser.username %></h2>
			<% } else {%>
				<h2>Please Sign Up or Login</h2>
			<% } %>
			<ul>
				<li><a href="/">Home</a></li>
				<% if (currentUser) {%>
					<li><a href="/rank">Rank</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/logout">Log Out</a></li>
				<%} else {%>
					<li><a href="/login">Log In</a></li>
					<li><a href="/register">Sign Up</a></li>
				<%}%>	
			</ul>
		</nav>
		<div id="main">
			<div class="inner">
				<header>
					<h1>This is Phantom, a free, fully responsive site<br />
					template designed by <a href="http://html5up.net">HTML5 UP</a>.</h1>
					<p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>
				</header>
				<section class="tiles">
				<article class="style1">
						<span class="image">
							<img src="/images/pic01.jpg" alt="" />
						</span>
						<a href="/class/unity">
							<h2>Unity 3D</h2>
							<div class="content">
								<p>最夯的遊戲引擎，最簡單明瞭的函式庫，帶領你進入遊戲設計的殿堂</p>
							</div>
						</a>
						
					</article>
					<article class="style2">
						<span class="image">
							<img src="/images/pic02.jpg" alt="" />
						</span>
						<a href="/class/python">
							<h2>Python</h2>
							<div class="content">
								<p>直譯式語言，執行快速，簡單好寫，最適合初學者學習的程式語言</p>
							</div>
						</a>
						
					</article>
					<article class="style3">
						<span class="image">
							<img src="/images/pic03.jpg" alt="" />
						</span>
						<a href="/class/pygame">
							<h2>Pygame</h2>
							<div class="content">
								<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
							</div>
						</a>
						
					</article>
				<article class="style4">
						<span class="image">
							<img src="/images/pic04.jpg" alt="" />
						</span>
						<a href="/class/java">
							<h2>Java</h2>
							<div class="content">
								<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
							</div>
						</a>
					</article>
					<article class="style5">
						<span class="image">
							<img src="/images/pic05.jpg" alt="" />
						</span>
						<a href="/class/web">
							<h2>Web</h2>
							<div class="content">
								<p>想知道你看到的網站是怎麼做出來的嗎?想創造自己的網站嗎?WEB入門帶你探索無邊無際的網際網路</p>
							</div>
						</a>
					</article>
					<article class="style6">
						<span class="image">
							<img src="/images/pic06.jpg" alt="" />
						</span>
						<a href="/class/ai">
							<h2>AI/SAI</h2>
							<div class="content">
								<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
							</div>
						</a>
					</article>
					
					<article class="style2">
						<span class="image">
							<img src="/images/pic07.jpg" alt="" />
						</span>
						
						<a href="/class/cpp">
							<h2>C++</h2>
							<div class="content">
								<p>一種歷史悠久、規模龐大、高效率的程式語言，從遊戲開發到工業都有它的身影</p>
							</div>
						</a>
					</article>
					
					
					
					
					
					
					
					<article class="style3">
						<span class="image">
							<img src="/images/pic08.jpg" alt="" />
						</span>
						<a href="/class/ae">
							<h2>AE</h2>
							<div class="content">
								<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
							</div>
						</a>
					</article>
					<article class="style1">
						<span class="image">
							<img src="/images/pic09.jpg" alt="" />
						</span>
						<a href="/class/rpg">
							<h2>RPG MAKER</h2>
							<div class="content">
								<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
							</div>
						</a>
					</article>
					<!-- <article class="style5">
						<span class="image">
							<img src="images/pic10.jpg" alt="" />
						</span> -->
						<!-- <a href="generic.html">
							<h2>Ultricies</h2>
							<div class="content">
								<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
							</div>
						</a>
					</article>
					<article class="style6">
						<span class="image">
							<img src="images/pic11.jpg" alt="" />
						</span>
						<a href="generic.html">
							<h2>Dictum</h2>
							<div class="content">
								<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
							</div>
						</a>
					</article>
					<article class="style4">
						<span class="image">
							<img src="images/pic12.jpg" alt="" />
						</span>
						<a href="generic.html">
							<h2>Pretium</h2>
							<div class="content">
								<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
							</div>
						</a> -->
					<!-- </article> -->
				</section>
			</div>
		</div>

	<!-- Footer -->
		

</div>

<!-- Scripts -->

<% include partials/footer.ejs %>