<h1>New Judge</h1>
<form action='/<%= inforClass.name %>/judge' method='POST'>
	<input type="text" name="name" placeholder="Name">
	<label>Description<textarea name='judge[description]'></textarea></label>
	<label>Input<textarea name='judge[input]'></textarea></label>
	<label>Output<textarea name='judge[output]'></textarea></label>
</form>