<% include ../partials/header.ejs %>
<div class='container'>
	<h1 class='registerh1'>Log In</h1>
<form action='/login' method='POST' class='registerForm'>
	<input type="text" name="username" placeholder="username" required>
	<input type="password" name="password" placeholder="password" required>
	<button class='submitButton'>Log In</button>
</form>
</div>

<% include ../partials/footer.ejs %>