<% include ../partials/header.ejs %>
<ul>
<% var rank = 1 %>
<% allUser.forEach(function(user) { %>
	<li><%= rank %> - <%=user.username %> - <%= rankSum(user) %></li>
	<% rank++ %>
<% }) %>
</ul>
<% include ../partials/footer.ejs %>