<% include ../partials/header.ejs %>
<ul>
<% var rank = 1 %>
<% allUser.forEach(function(user) { %>
	<li><%= rank %> - <%=user.username %> - <%= user.rank.python + user.rank.cpp + user.rank.java %></li>
	<% rank++ %>
<% }) %>
</ul>
<% include ../partials/footer.ejs %>