<% include ../partials/header.ejs %>
<div class='container'>
	<h1 class='registerh1'>Sign Up</h1>
	<form action='/register' method='POST' id='validatedForm' class='registerForm'>
		<input type="text" name="username" placeholder="username" id='username' required>
		<input type="text" name="nickname" placeholder="nickname" required>
		<input type="password" name="password" placeholder="password" id='password' required>
		<input type="password" name="" placeholder="Confirm password" id='cpassword' required>
		<button class='submitButton' style='margin-bottom: 20px'><a href="/login">Log In</a></button>
		<button class='submitButton' id='button' style='margin-bottom: 20px'>Submit</button>
	</form>
</div>
<script type="text/javascript" src='/js/jquery.min.js'></script>
<script type="text/javascript" src='/js/register.js'>
	// // jQuery.validator.setDefaults({
	// // 	debug: true,
	// // 	success: "valid"
	// // });
	// $('#validatedForm').validate({
	// 	rules: {
	// 		username: "required",
	// 		password: "required",
	// 		cpassword: {
	// 			equalTo: "#password"
	// 			required: true
	// 		}
	// 	}
	// });
</script>
<% include ../partials/footer.ejs %>