<!DOCTYPE html>
<html>
<head>
	<title>Summer Adobe After Effect</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/class/ae/assets/css/main.css">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700italic' rel='stylesheet' type='text/css'>
</head>
<body  id="demo" class="dark portrait big-mobile">
<header id="demo-header">
	<div class="left">
		<h2>2016 Summer</h2>

		<a href="/index" class="icon style2 fa-home" style="color:white;margin-top:2%; "><span class="label">home</span></a>
	
		
		
	</div>
	<div class="right">
		<!-- <ul class="share">

			<li class="facebook"><div class="fb-like fb_iframe_widget" data-href="http://html5up.net/phantom" data-send="false" data-layout="button" data-width="100" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=51&amp;href=http%3A%2F%2Fhtml5up.net%2Fphantom&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=100"><span style="vertical-align: bottom; width: 51px; height: 20px;"><iframe name="f13d5e85c655a5" width="100px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.0/plugins/like.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fbz-D0tzmBsw.js%3Fversion%3D42%23cb%3Df122154e97496e4%26domain%3Dhtml5up.net%26origin%3Dhttps%253A%252F%252Fhtml5up.net%252Ff2e57bd0d6391e4%26relation%3Dparent.parent&amp;container_width=51&amp;href=http%3A%2F%2Fhtml5up.net%2Fphantom&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=100" style="border: none; visibility: visible; width: 51px; height: 20px;" class=""></iframe></span></div></li>
			<li></li>

			
		</ul> -->

		<a href="/class/<%=inforClass.name%>" class="button back alt2" id="nav_bot">Book</a>
		<a href="/profile" class="button back alt2" id="nav_bot">Profile</a>
		
	</div>
</header>
<header id="header">
	<div class="inner">
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>
	</div>
</header>
<nav id="menu">
	<h2><%= realClassName[inforClass.name] %></h2>
	<ul>
		<li><a href="#a1">1. 基本介面</a></li>
		<li><a href="#a2">2. 關鍵影格</a></li>
		<li><a href="#a3">3. 跑動圓圈</a></li>
		<li><a href="#a4">4. 傀儡工具</a></li>
		<li><a href="#a5">5. 匯出影片</a></li>
	</ul>
</nav>
	<h1 style="text-align: center;" class="title"><img src="/class/ae/art/logo.svg" width="40" height="40">Adobe illustrator</h1>
	<br>
	<br>
	<hr><br>
	<p style="padding-left: 50px" class="left-line"><b><h3>Adobe After Effects是一款由ADOBE公司製作的影片軟體，透過軟體的動畫補足功能與特效，製作出精美的影片</h3></b></p>

	<br>
	<hr>
	<br>
	<section>
		<ul>
			<li><h2 id='a1'>基本介面</h2></li>
			<img src="/class/ae/image/image000.JPG" align="top" style="padding-left:50px;margin-right:50px" >
			<ol style="padding-left:50px">
				<li><b>專業面板：</b></li>
				
				<p style="padding-left:50px">可建立合成組及匯入素材(不可匯入日文或CMYK的素材)，如果檔案遺失可以右鍵素材→替換素材找回</p>
				<li><b>工作區：</b></li>
				<p style="padding-left:50px">可以預覽當前畫面</p>
				<li><b>時間軸：</b></li>
				<p style="padding-left:50px">可調整圖層順序、時間，及控制關鍵影格，可以在數值間補足動畫。</p>

				<li><b>工具面板:</b></li>
				<ul type="A" style="padding-left:50px">
					<img src="/class/ae/image/image008.jpg" align="left" style="margin:10px">
					<li>→形狀及遮罩工具，長按可以變換形狀</li><br>
					<img src="/class/ae/image/image009.jpg" align="left" style="margin:10px">
					<li>→可以點出任意塊狀形狀</li><br>
					<img src="/class/ae/image/image010.jpg" align="left" style="margin:10px">
					<li>→由於此安裝檔的問題，絕對不要按這個!!</li><br>
					<img src="/class/ae/image/image011.jpg" align="left" style="margin:10px">
					<li>→可以自行畫出任意形狀</li><br>
					<img src="/class/ae/image/image012.jpg" align="left" style="margin:10px">
					<li>→擦掉畫筆畫出的筆跡</li><br>
					<img src="/class/ae/image/image013.jpg" align="left" style="margin:10px">
					<li>→傀儡工具可以使圖形只有部分變化，下面會有詳細說明</li><br>


				</ul>

			</ol>
		</ul>
	</section>
	<hr>
	<br>

	<section>
	<ul>
		<li><h2 id='a2'>關鍵影格</h2></li>
	</ul>
	<img src="/class/ae/image\image014.jpg" align="top" style="padding-left:50px">
	<p style="padding-left:50px"><b>小時鐘可以開啟關鍵影格，菱形則可以增加關鍵影格數，F9可以柔和動畫，也可以自行調整快慢</b></p>
	</section>
	<br>
	<hr>
	<br>

	<section>
		<ul>
			<li><h2 id='a3'>跑動圓圈</h2></li>
			<ol>

				
				<li style="margin:20px"> <img src="/class/ae/image\image015.jpg"  style="margin-right:20px">開啟一個橢圓形工具</li>
				<li style="margin:20px">將橢圓形的填充刪掉，並將邊的寬度調高 </li>
				<img src="/class/ae/image\image016.jpg" align="bottom"  style="padding-left:50px">
				<li style="margin:20px">添加一個修整路徑，開啟開始與結束的關鍵影格並調整</li>
				<img src="/class/ae/image\image017.jpg" align="bottom" style="padding-left:50px">
				<li style="margin:20px">完成囉~･*･:≡(　ε:)</li>
				<img src="/class/ae/image\image018.jpg" align="bottom" style="padding-left:50px">

			</ol>
		</ul>
	</section>
	<br>
	<hr>
	<br>
	<section>
		<ul>
			<li><h2 id='a4'>傀儡工具</h2></li>
			<p><b>可以使圖形部分變化的工具，比較適合用在形狀工具上</b></p>
			<ol>
				<li style="margin:20px"><img src="/class/ae/image\image019.jpg"  style="margin-right:20px">開啟一個圖形</li>
				<li style="margin:20px"><img src="/class/ae/image\image020.jpg"  style="margin-right:20px">使用傀儡工具在圖形上標記你要動的點及固定的點</li>
				<li style="margin:20px">調整懸掛式木偶</li>
				<img src="/class/ae/image\image021.jpg"  style="margin:20px" align="bottom">
				<li style="margin:20px">完成囉~･*･:≡(　ε:)</li>
			</ol>
		</ul>
	</section>
	<br>
	<hr>
	<br>
	<section>
		<ul>
			<li><h2 id='a5'>匯出影片</h2></li>
		</ul>
		<p><b>圖像合成→添加到渲染隊列</b></p>
		<p><b>如果有音樂要記得再輸出組件把音頻輸出</b></p>
		<img src="/class/ae/image\image022.jpg"  style="margin-bottom:20px">
		<p><b>最後按選染就可以轉換成影片囉~･*･:≡(　ε:)</b></p>
		<p><h3>※因為AE輸出的影片很大，建議再用movie maker之類的影片軟體再轉換一次唷~(*´∀`)~♥</h4></p>
	</section>
	<br>
	<hr>
	<br>
<% include ../partials/footer.ejs %>
