<!DOCTYPE html>
<html>
<head>
	<title>Summer Adobe illustrator</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/class/ai/assets/css/main.css">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700italic' rel='stylesheet' type='text/css'>
	<style type="text/css">
	#jizz {
		border: 0;
		border-bottom: solid 1px #c9c9c9;
		margin: 2em 0;
	}

		#jizz.major {
			margin: 3em 0;
		}</style>
</head>
<body>
<header id="header">
	<div class="inner">
			<nav>
				<ul>
					<li><a href="#menu">Menu</a></li>
				</ul>
			</nav>
	</div>
</header>
<nav id="menu">
	<h2><%= realClassName[inforClass.name] %></h2>
	<ul>
		<li><a href="/">Home</a></li>
		<hr id='jizz'>
		<li><a href="#a1">1. 操作介面</a></li>
		<li><a href="#a2">2. 新增文件</a></li>
		<hr id='jizz'>
		<li><a href="">Book</a></li>	
		<!-- <li><a href="/class/<%= inforClass.name %>/note">Notes</a></li> -->
		<% if (inforClass.name == 'python' || inforClass.name == 'cpp' || inforClass.name == 'java') { %>
			<li><a href="/class/<%= inforClass.name %>/judge">Judge</a></li>
		<% } %>
		<li><a href="/profile">Profile</a></li>
	</ul>
</nav>
	<h1 style="text-align: center;margin-bottom:0px" class="title">Adobe illustrator</h1>
	<h1 style="text-align: center;margin-bottom:0px" >X</h1>
	<h1 style="text-align: center;margin-top:0px" class="title">EASY PAINT TOOL SAI</h1>
	<br>
	<hr>
	<br>
	<p style="padding-left: 50px" class="left-line"><b>Adobe illustrator</b> 是一套向量繪圖軟體，可以運用在插畫、海報、型錄、書籍、網頁、視訊等視覺設計，不管怎麼修改圖形，都可以維持乾淨俐落的邊緣及線條。</p>

	<ul>
		<li><h2 id='a1'>操作介面</h2></li>
	</ul>
	<section>
		<img src="/class/ai/image/image004.PNG" style="padding-left:50px ; " width="40%" height="50%";  align="left" >
		<p  style="padding-left: 45%"><b>a.控制面板：</b>用於調整物件及預覽畫面。</p>
		<p  style="padding-left: 45%"><b>b.工具面板（工具箱）：</b>提供各種繪圖與編輯工具。</p>
		<p style="padding-left: 45%"><b>c.面板群組：</b>調整色票、漸層、筆畫、透明度等屬性面板，可依個人需求添加或調整位置。</p>
		<p style="padding-left: 45%"><b>d.功能表：</b>提供主要操作指令，像是檔案存取、編輯、濾鏡、偏好設定等。</p>
	</section>
	<br><br>
	<hr>

	<section>
		<br>
		
		<ul>
			<li><h2 id='a2'>新增文件</h2></li>
		</ul>
		<p style="padding-left: 50px">-檔案>>新增（Ctrl+N）</p>

		
		<ul style="padding-left: 50px">
			<li>
			<h3>常用基本工具:</h3>
			</li>
			<ol>
				<li><b>選取工具（select):</b></li>
				<img src="/class/ai/image/image006.PNG" style="padding-left:10px ; transform:translateY(-190px) translateX(-300px); "  align="right" >
				<img src="/class/ai/image/image007.PNG" style="padding-left:10px ; transform:translateY(-40px) translateX(-170px); "  align="right" >
				<img src="/class/ai/image/image008.PNG" style="padding-left:10px ; transform:translateY(45px) translateX(-48px); "  align="right" >
				
				<img src="/class/ai/image/image005.jpg" style="padding-left:10px ; transform:translateY(-210px) translateX(150px); "  align="right" >
			
				<img src="/class/ai/image/image009.PNG" style="padding-left:10px ; transform:translateY(-190px) translateX(350px); "  align="right" >
				<img src="/class/ai/image/image010.PNG" style="padding-left:10px ; transform:translateY(-140px) translateX(478px); "  align="right" >
				<img src="/class/ai/image/image011.PNG" style="padding-left:10px ; transform:translateY(-110px) translateX(605px); "  align="right" >
				<img src="/class/ai/image/image012.PNG" style="padding-left:10px ; transform:translateY(25px) translateX(733px); "  align="right" >
				<img src="/class/ai/image/image013.PNG" style="padding-left:10px ; transform:translateY(55px) translateX(859px); "  align="right" >
				<img src="image/image014.PNG" style="padding-left:10px ; transform:translateY(105px) translateX(858px); "  align="right" >

				<p  style="padding-left: 100px">選取物件、移動、調整大小的工具，按住Shift使用，可選取多個物件</p>
				<li><b>直接選取工具（direct seiection):</b></li>
				<p style="padding-left: 100px">可選取編輯錨點，用於修改物件造型。</p>
				<li><b>旋轉工具：如果說選取工具</b></li>
				<p style="padding-left: 100px">是用於移動物件和調整物件大小的，那旋轉工具就是來旋轉他們本體的無誤(ˋˇˊ)。</p>
				<li><b>文字工具：</b></li>
				<p style="padding-left: 100px">建立文字方塊，然後盡情打字吧。注意:存檔前須記得將文字轉外框喔!!（選取→文字>>建立外框）</p>

				<li><b>形狀工具：</b></li>
				<p style="padding-left: 100px">可自由選擇創造各種形狀。（形狀們爆射中~~）</p>
				<img src="/class/ai/image/image013.jpg" style="padding-left: 100px" ><br>
				<ul style="padding-left:100px">
					<li><b>矩形工具</b></li>
					<p style="padding-left: 100px">-按住Shift使用可以拉出正方形。</p>
					<li><b>圓角矩形工具</b></li>
					<p style="padding-left: 100px">-按住Shift使用可以拉出圓角正方形。</p>
					<li><b>橢圓形工具</b></li>
					<p style="padding-left: 100px">-按住Shift使用可以拉出圓形。</p>
					<li><b>多邊形工具</b></li>
					<p style="padding-left: 100px">-按【上】【下】鍵可增減邊邊角角數目。</p>
					<li><b>星行工具</b></li>
					<p style="padding-left: 100px">-按【上】【下】鍵可增減角角數目。</p>
					<img src="/class/ai/image/image014.jpg" align="right" style="transform:translateY(-400px) translateX(-200px) " width="20%">

				</ul>
				
				<li><b>漸層工具：</b></li>
				<p  style="padding-left: 100px">把喜歡的顏色塞進漸層面板中，就可以自由製作自己喜歡的漸層。</p>
				<img src="/class/ai/image/image015.jpg" style="padding-left: 100px" >
				<li><b>漸變工具：</b></li>
				<p style="padding-left: 100px">在多個物件間創建一系列漸變顏色或形狀的工具。</p>
				<img src="/class/ai/image/image016.jpg" style="padding-left: 100px" align="left">
				<img src="/class/ai/image/image017.jpg" style="padding-left: 100px" align="left" ><br><br><br><br><br><br><br><br><br><br>

				<li><b>放大鏡工具：</b></li>
				<p style="padding-left: 100px">用於放大、縮小圖稿。</p>
				<ul style="padding-left: 100px">
					<li>放大</li>
					<p>-點擊滑鼠左鍵。 <br>-拖曳滑鼠框出想要放大檢視的範圍。  </p>
					<li>縮小</li>
					<p>-按住Alt點及滑鼠左鍵。</p>
					<li>快捷方式</li>
					<P>-按住Alt滾動滑鼠滾輪，即使沒有使用放大鏡工具也能進行縮放。</P>
				</ul>
				<li><b>檢色滴管：</b></li>
				<p style="padding-left: 100px">在任何地方點一下，取樣顏色，可以用來取樣還沒向量化的顏色範本。</p>
				<img src="/class/ai/image/image018.PNG" style="padding-left: 100px" width="600px">

			</ol>
			

		</ul>
		<br>
		<hr>
		<br>
		<h2>Finally</h2>
		<p><b>現在，可以用這些多采多姿的小工具創作屬於自己的每每作品嘍!!</b></p>

		
	</section>
	<hr>
	<br><br><br>
	<div align="right">
		<a  href="/class/sai" class="button special">Next Page</a>
	</div>
	
<% include ../partials/footer.ejs %>