<!DOCTYPE html>
<html>
<head>
	<title>Summer EASY PAINT TOOL SAI</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/class/ai/assets/css/main.css">
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700italic' rel='stylesheet' type='text/css'>
	<style type="text/css">
	#jizz {
		border: 0;
		border-bottom: solid 1px #c9c9c9;
		margin: 2em 0;
	}

		#jizz.major {
			margin: 3em 0;
		}</style>
</head>
<body  id="demo" class="dark portrait big-mobile">
<header id="demo-header">
	<div class="left">
		<h2>2016 Summer</h2>

		<a href="/index" class="icon style2 fa-home" style="color:white;margin-top:2%; "><span class="label">home</span></a>
	
		
		
	</div>
	<div class="right">
		<!-- <ul class="share">

			<li class="facebook"><div class="fb-like fb_iframe_widget" data-href="http://html5up.net/phantom" data-send="false" data-layout="button" data-width="100" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=51&amp;href=http%3A%2F%2Fhtml5up.net%2Fphantom&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=100"><span style="vertical-align: bottom; width: 51px; height: 20px;"><iframe name="f13d5e85c655a5" width="100px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.0/plugins/like.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fbz-D0tzmBsw.js%3Fversion%3D42%23cb%3Df122154e97496e4%26domain%3Dhtml5up.net%26origin%3Dhttps%253A%25	2F%252Fhtml5up.net%252Ff2e57bd0d6391e4%26relation%3Dparent.parent&amp;container_width=51&amp;href=http%3A%2F%2Fhtml5up.net%2Fphantom&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=100" style="border: none; visibility: visible; width: 51px; height: 20px;" class=""></iframe></span></div></li>
			<li></li>

			
		</ul> -->

		<a href="/class/sai" class="button back alt2" id="nav_bot">Book</a>
		<a href="/rank" class="button back alt2" id="nav_bot">Rank</a>
		<a href="/profile" class="button back alt2" id="nav_bot">Profile</a>
		<a href="#menu" id="top_menu">Menu</a>
		
	</div>
</header>

<nav id="menu">
	<h2>SAI</h2>
	<ul>
		
		<li><a href="#s1">1. 基本介面</a></li>
		<li><a href="#s2">2. 鼠繪</a></li>
		<li><a href="#s3">3. 新增筆刷&畫紙材質</a></li>
		<li><a href="#s4">4. 素材應用</a></li>
		<li><a href="#s5">5. 推薦素材網站</a></li>
		
	</ul>
</nav>
<h1 style="text-align: center;margin-bottom:0px" class="title">EASY PAINT TOOL SAI</h1><br>
<hr>
<br>
<div id="main">
	<div class="inner">
		<p style="text-align:center"><b>SAI是一款免費的繪圖軟體，因為操縱簡單而被許多人使用，但不具備文字、形狀工具等功能</b></p>

		<section>
			<h2 id='s1'>基本介面</h2>
					<div class="box alt" style="padding-left:10%">
						<div class="row uniform">
							<div class="8u"><span class="image fit"><img src="/class/ai/image01/image004.jpg	" alt="" /></span></div>
							
						</div>
						<ul>
								<li><b>A工作區：</b>畫畫耍頹的地方</li>
								<li><b>B色彩面板：</b>可以選取顏色、調整筆刷、筆刷大小及魔術棒等功能</li>
								<li><b>C圖層面板：</b>可以調整圖層順序、增加刪減圖層、改變畫製質感等功能</li>
								

							</ul>
					</div>
		</section>
		<br>
		<hr>
		<br>
		<section>
			<h2 id='s2'>鼠繪</h2>
			<p style="padding-left:10%"><b>鼠繪就是用滑鼠畫畫，適合沒有繪圖板的人，但是畫出來相較之下比較差，但SAI可以使用鋼筆圖層來畫出與繪圖板品質差不多的畫作</b></p>
		</section>
		<ol style="padding-left:10%">
			<li><b>新增一個草稿(習慣調低透明度)和一個鋼筆圖層 <br>-------------拿黑歷史當範例-------------</b></li>
			<div class="8u"><span class="image fit"><img src="/class/ai/image01/image005.jpg" alt="" /></span></div>

			<li><b>選擇曲線開始點點點，線段會自動彎曲</b></li><br>
			<div class="3u"><span class="image fit"><img src="/class/ai/image01/image006.jpg" alt="" />(HINT: Ctrl+Z 返回鍵 可在其他→鍵盤快速鍵調整)</span></div>
			<br>
			<li><b>完稿就可以按掉小眼睛讓草稿消失囉 <br>可以使用線參數、錨點或筆壓來使線條更自然</b></li>
/class/ai/
			<div class="6u"><span class="image fit"><img src="/class/ai/image01/image007.jpg" alt="" /></span></div>

			<br>
			<li><img src="image01/image008.jpg"> <b>運用魔術棒，可以選取範圍，這樣上色就不會塗出去囉</b></li>
			<div class="6u"><span class="image fit"><img src="/class/ai/image01/image009.jpg" alt="" />(技巧：選線稿外面→選取→反選)</span></div>
			<br>
			<li><b>上色+背景=完稿囉･*･:≡(　ε:)</b></li>
			<div class="6u"><span class="image fit"><img src="/class/ai/image01/image010.jpg" alt="" />(技巧：選線稿外面→選取→反選)</span></div>

		</ol>
		<br>
		<hr>
		<br>
		<section>
			<h2 id='s3'>新增筆刷&畫紙材質</h2>
			<ol style="padding-left:10%">

				<li><b>在brushtex的資料夾選擇喜歡的筆刷樣式並複製名字</b></li>
				<li><b>在brushtex的記事本上添加剛剛的名字</b></li>
				<li><b>獲得新筆刷，Papertex(畫紙材質)也是同樣的方式</b></li>

			</ol>
			<br>
			<div class="box alt" style="padding-left:10%">
						<div class="row uniform">
			<div class="2u"><span class="image fit"><img src="/class/ai/image01/image012.jpg" alt="" /></span></div>
			<div class="1u"><span class="image fit"><img src="/class/ai/image01/image011.gif " style="transform:translateY(60%)" alt="" /></span></div>
			<div class="3u$"><span class="image fit"><img src="/class/ai/image01/image013.jpg" alt="" /></span></div>
						</div>
			</div>
		</section>
		<br>
		<hr>
		<br>
		<section>
			<h2 id='s4'>素材應用</h2>
			<br>
			<p><b>比如說我現在想把貓關進籠子裡，但四周會變得白白的</b></p>
			<div class="5u" style="padding-left:10%"><span class="image fit"><img src="/class/ai/image01/image014.jpg" alt=""  /></span></div>
			<p><b>按圖層→亮度透明度就可以達成囉･*･:≡(　ε:)</b></p>
			<div class="5u" style="padding-left:10%" ><span class="image fit"><img src="/class/ai/image01/image015.jpg" alt="" /></span></div>

		</section>
		<br>
		<hr>
		<br>
		<section>
			<h2 id='s5'>推薦素材網站</h2>
			<br>
			<p style="padding-left:10%"><b>PIXIV：http://www.pixiv.net</b></p>
			<p style="padding-left:10%"> <b>搜尋フリー素材或自由加工</b></p>
		</section>
		<br>
		<hr>
		<br><br>

		<div align="right">
		<a  href="/class/ai" class="button special">Last Page</a>
		</div>
	</div>
</div>
<% include ../partials/footer.ejs %>