<!DOCTYPE HTML>

<html>
	<head>
		<title>Unity 3D</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/class/unity/assets/css/main.css" />
	</head>
</html>

<body  id="demo" class="dark portrait big-mobile">
<header id="demo-header">
	<div class="left">
		<h2>2016 Summer</h2>

		<a href="/index" class="icon style2 fa-home" style="color:white;margin-top:2%; "><span class="label">home</span></a>
	
		
		
	</div>
	<div class="right">
		<!-- <ul class="share">

			<li class="facebook"><div class="fb-like fb_iframe_widget" data-href="http://html5up.net/phantom" data-send="false" data-layout="button" data-width="100" data-show-faces="true" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id=&amp;container_width=51&amp;href=http%3A%2F%2Fhtml5up.net%2Fphantom&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=100"><span style="vertical-align: bottom; width: 51px; height: 20px;"><iframe name="f13d5e85c655a5" width="100px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:like Facebook Social Plugin" src="https://www.facebook.com/v2.0/plugins/like.php?app_id=&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fbz-D0tzmBsw.js%3Fversion%3D42%23cb%3Df122154e97496e4%26domain%3Dhtml5up.net%26origin%3Dhttps%253A%252F%252Fhtml5up.net%252Ff2e57bd0d6391e4%26relation%3Dparent.parent&amp;container_width=51&amp;href=http%3A%2F%2Fhtml5up.net%2Fphantom&amp;layout=button&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;show_faces=true&amp;width=100" style="border: none; visibility: visible; width: 51px; height: 20px;" class=""></iframe></span></div></li>
			<li></li>

			
		</ul> -->

		<a href="/class/<%=inforClass.name%>" class="button back alt2" id="nav_bot">Book</a>
		<a href="/class/<%=inforClass.name%>/note" class="button back alt2" id="nav_bot">Note</a>
		<a href="/profile" class="button back alt2" id="nav_bot">Profile</a>
		
	</div>
</header>
	<div id="wrapper">
	<!-- Header -->
		<header id="header">
			<div class="inner">
				<!-- Logo -->
				<h1>Unity 3D</h1>

			<!-- Nav -->
				<nav>
					<ul>
						<li><a href="#menu">Menu</a></li>
					</ul>
				</nav>
			</div>
		</header>

	<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				
				<li><a href="#C1">1. 簡介</a></li>
				<li><a href="#C2">2. 介面介紹</a></li>
				<li><a href="#C3">3. 地形編輯器</a></li>
				<li><a href="#C4">4. 角色控制器</a></li>
				<li><a href="#C5">5. 拾取物品(簡單coding)</a></li>
				<li><a href="#C6">6. 遊戲介面</a></li>
				<li><a href="#C7">7. 天空系統</a></li>
				<li><a href="#C8">8. 光照系統</a></li>
				<li><a href="#C9">9. 總結</a></li>
				
			</ul>
		</nav>
		<div id= "main">
			<div class="inner">
				<section id="C1">
				<h2>一、簡介</h2>
					<p>Unity3D是現今被廣泛應用的跨平台遊戲引擎，可應用在OS、windows、Linux、手機與網頁平台，甚至虛擬實境，目前已有許多知名遊戲是以此引擎完成(可參考<a href="http://madewith.unity.com/">http://madewith.unity.com/</a>)<br>
					下載：<a href="https://goo.gl/Q1yADA">https://goo.gl/Q1yADA</a> (含安裝說明)</p>
				</section>
				<hr>
				<section id="C2">
					<h2>二、介面介紹</h2>
					<div class="box alt">
						<div class="row uniform">
							<div class="12u$"><span class="image fit"><img src="/class/unity/images/unity1.jpg" alt="" /></span></div>
						</div>
					</div>
					<ol>
						<li>Scene View(場景視窗)：可進行編輯(地形、角色、燈光等)</li>
						<li>Game View(遊戲視窗)：顯示遊戲執行時玩家會看到的畫面</li>
						<li>Hierarchy View(階層視窗)：顯示目前場景上的物件與他們之間的關係</li>
						<li>Project View(專案視窗)：會顯示你現有的檔案、物件、材質、模型、音效等</li>
						<li>Inspector View(屬性視窗)：可以對物件等進行調整</li>
						<li>左至右分別是水平移動視角(Q)、物件移動(W)、物件旋轉(E)、物件縮放(R)、物件調整(T)，而滑鼠右鍵為旋轉視角，滑鼠滾輪為縮放視角</li>
						<li>播放控制(Play/Pause/Step)：執行、暫停、單格前進</li>
						<li>Asset Store：可以載一些別人做好的東西，物件、材質等</li>
					</ol>
					<div class="box alt">
						<div class="row uniform">
							<div class="12u$"><span class="image fit"><img src="/class/unity/images/unity2.jpg" alt="" /></span></div>
						</div>
					</div>
				</section>
				<hr>
				<section id="C3">
					<h2>三、地形編輯器</h2>
					<h3>(1)新建地形 GameObject-->3D Object-->Terrain</h3>
					<div class="box alt">
						<div class="row uniform">
							<div class="6u"><span class="image fit"><img src="/class/unity/images/unity3.jpg" alt="" /></span></div>
							<div class="6u$"><span class="image fit"><img src="/class/unity/images/unity4.jpg" alt="" /></span></div>
						</div>
					</div>
					<h3>(2)地形起伏</h3>
					<div class="box alt">
						<div class="row uniform">
							<div class="4u"><span class="image fit"><img src="/class/unity/images/unity5.jpg" alt="" /> 上下起伏(按住Shift向下)</span></div>
							<div class="4u"><span class="image fit"><img src="/class/unity/images/unity6.jpg" alt="" />平坦化(至Flatten的數值) </span></div>
							<div class="4u$"><span class="image fit"><img src="/class/unity/images/unity7.jpg" alt="" />邊緣柔化</span></div>
						</div>
					</div>
					<h3>(3)地形材質</h3>
					<div class="box alt">
						<div class="row uniform">
							<div class="12u$"><span class="image fit"><img src="/class/unity/images/unity8.jpg" alt="" />※先Import Package-->Environment</span></div>
						</div>
					</div>
					<div class="box alt">
						<div class="row uniform">
							<div class="12u$"><span class="image fit"><img src="/class/unity/images/unity9.jpg" alt="" />※右方點選Edit Texture-->select-->搜尋grass等並選擇-->點選Add</span></div>
						</div>
					</div>
					<div class="box alt">
						<div class="row uniform">
							<div class="12u$"><span class="image fit"><img src="/class/unity/images/unity10.jpg" alt="" />※一開始會全部變第一個新增的材質，可以自己再新增更多材質鋪上去</span></div>
						</div>
					</div>
					<h3>(4)種樹</h3>
					<div class="box alt">
						<div class="row uniform">
							<div class="12u$"><span class="image fit"><img src="/class/unity/images/unity11.jpg" alt="" />※Edit Tree-->Add Tree --> 點選Tree Prefab那行尾端的圈圈後進行搜尋 -->Add</span></div>
							<div class="6u 12u$(small)"><span class="image fit"><img src="/class/unity/images/unity12.jpg" alt="" /></span></div>
							<div class="6u 12u$(small)">
								<p style = "font-size: 110%	">
								◇&nbsp;Mass Place Tree --> 在整片地圖內鋪一定數量的樹<br>
								◇&nbsp;Brush Size --> 一次種的範圍<br>
								◇&nbsp;Tree Density --> 在範圍內樹的密度<br>
								◇&nbsp;Tree Height --> 樹高度的範圍<br>
								◇&nbsp;Lock width to Height --> 樹寬以樹高一定比例計算<br>
								◇&nbsp;Random Tree Rotation --> 隨機設定樹的方向<br></p>
							</div>
						</div>
					</div>
					<h3>(5)風力系統</h3>
					<div class="box alt">
						<div class="row uniform">
							<div class="3u 6u(small)"><span class="image fit"><img src="/class/unity/images/unity13.jpg" alt="" /></span></div>
							<div class="3u 6u(small)"><span class="image fit"><img src="/class/unity/images/unity14.jpg" alt="" /></span></div>
							<div class="6u$ 12u(small)">
								<p style="font-size: 110%">
								◇&nbsp;Main是風力大小<br>
								◇&nbsp;Turbulence為樹枝受風吹拂的彎曲程度<br>
								◇&nbsp;Pulse Magnitude是樹枝彎曲最大程度的持續時間<br>
								◇&nbsp;Pulse Frequency是風停止的頻率<br>
								</p>
							</div>
						</div>
					</div>
					<h1><span style="color: red">別種太多樹哦 會當掉!!!!</span></h1>	
				</section>
				<hr>
				<section id="C4">
					<h2>四、角色控制器</h2>
					<div class="box alt">
						<div class="row uniform">
							<div class="12u$"><span class="image fit"><img src="/class/unity/images/unity15.jpg" alt="" />在Aseets-->Standard資料夾中會多出character資料夾，在這裡我們使用資料夾中的Third Person Controller，也就是第三人稱</span></div>
							<div class="12u$"><span class="image fit"><img src="/class/unity/images/unity16.jpg" alt="" />匯入後調整攝影機到ThirdPersonController底下後，按下開始即可在樹林中奔跑，一個最簡單的第三人稱角色就完成惹~~</span></div>
						</div>
					</div>
				</section>
				<hr>
				<section id="C5">
					<h2>五、拾取物品(簡單coding)</h2>
					<div class="box alt">
						<div class="row uniform">
							<div class="6u"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity17.jpg" alt="">(1)先建一個方塊</span></div>
							<div class="6u$"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity18.jpg" alt="">(2)Box Collider的Is Trigger勾起來</span></div>
						</div>
					</div>
					<p style="font-size:110%">(3)Add Tag(pick_up)</p>
					<div class="box alt">
						<div class="row uniform">
							<div class="4u"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity19.jpg" alt=""></span></div>
							<div class="4u"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity20.jpg" alt=""></span></div>
							<div class="4u$"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity21.jpg" alt=""></span></div>
						</div>
					</div>
					<p style="font-size:110%">(4)新建一個script並啟動(預設會用visual studio)</p>
					<div class="box alt">
						<div class="row uniform">
							<div class="4u"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity22.jpg" alt=""></span></div>
							<div class="8u$"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity23.jpg" alt=""></span></div>
						</div>
					</div>
					<p style="font-size:110%">(5)先寫一個觸碰方塊會將它消除並計算消幾顆和判斷獲勝的code</p>
					<pre><code>
using UnityEngine;

public class pick_up: MonoBehavior {
	private int count;//先宣告一個數來數消除的方塊數量

	void Start(){
	 count = 0;//一開始設為0
	}
	void Update(){

	}
	void OnTriggerEnter(Collider other)//若觸碰到其他Trigger
	{
		if(other.gameObject.CompareTag("pick_up"))//若其Tag為pick_up
		{
			other.gameObject.SetActive(false);//則將他的屬性全部消除
			count++;//並把數方塊的數+1
			Debug.Log(count);//在console視窗顯示撿到幾顆
			if(count>=4)
			{
				Debug.Log("You Win!!");//如果count>=4就顯示你贏惹
			}
		}
	}
}
					</code></pre>
					<p style="font-size:110%">(6)丟到FirstPersonController身上並測試(Console視窗 – Ctrl+Shift+C )</p>
					<div class="box alt">
						<div class="row uniform">
							<div class="12u"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity24.jpg" alt=""></span></div>
						</div>
					</div>
					<p style="font-size:110%">(7)現在已經可以撿東西惹，不過所有的顯示都出現在Console視窗，而玩家會看不到，所以就要設計UI讓它呈現</p>
				</section>
				<hr>
				<section id="C6">
					<h2>六、遊戲介面</h2>
					<p>(1)先新增兩個text並命名(會自動建Canvas)</p>
					<div class="box alt">
						<div class="row uniform">
							<div class="6u"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity25.jpg" alt=""></span></div>
							<div class="6u$"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity26.jpg" alt=""></span></div>
						</div>
					</div>
					<p>(2)先把他們移到想要的位置並調countText設定</p>
					<div class="box alt">
						<div class="row uniform">
							<div class="9u"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity27.jpg" alt="">讓他在各種視窗大小皆能在正確位置上</span></div>
							<div class="3u$"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity28.jpg" alt=""></span></div>
						</div>
					</div>
					<p>(3)接下來要怎麼改字的內容呢?又來coding啦~</p>
					<pre><code>
using UnityEngine;
using UnityEngine.UI;//先引入UI

public class pick_up : MonoBehavior{
	private int count;

	public Text countText;//宣告一個Text叫做countText
	public Text winText;//宣告一個Text叫做winText
	
	void Start(){
		count = 0;
		countText.test = count.ToString() + "/4";//遊戲開始先把countText自設為數量/4
		winText.text = "";//遊戲開始時winText沒有字
	}
	void Update(){

	}
	void OnTriggerEnter(Collider other)
	{
		if(other.gameObject.CompareTag("pick_up"))
		{
			other.gameObject.SetActive(false);
			count++;
			countText.text = count.ToString() + "/4";//每碰到一次就更改countText的內容
			if(count >= 4)
			{
				winText.text = "You win!!";//當得到4個以上時winText的內容將會改成You win!!
			}
		}
	}
}
					</code></pre>
					<p>(4)將剛調好的countText,winText拖曳至框框中並測試</p>
					<div class="box alt">
						<div class="row uniform">
							<div class="3u"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity29.jpg" alt=""></span></div>
							<div class="9u$"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity30.jpg" alt=""></span></div>
						</div>
					</div>
					<p>最後左上角Files-->Build Settings-->Build即可輸出遊戲(會有一個data file跟exe.)
					~~按下exe檔即可開始遊戲啦~
					</p>
				</section>
				<hr>
				<section id="C7">
				<h2>七、天空系統</h2>
					<div class="box alt">
						<div class="row uniform">
							<div class="12u"><p>(1)先新增一個材質並更改他的設定</p></div>
							<div class="6u"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity31.jpg" alt=""></span></div>
							<div class="6u$"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity32.jpg" alt=""></span></div>
							<div class="12u"><p>(2)把圖片拖曳進框框上去(它的原理是將天空分成六塊，可上Assets Store抓別人完成的</p></div>
							<div class="12u$"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity33.jpg" alt=""></span></div>
							<div class="12u"><p>(3)完成天空啦~~</p></div>
						</div>
					</div>
				</section>
				<hr>
				<section id="C8">
					<h2>八、光照系統</h2>
					<div class="box alt">
						<div class="row uniform">
							<div class="12u"><p>(1)先新增光(這裡介紹三種常用的光)</p></div>
							<div class="12u"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity34.jpg" alt=""></span></div>
							<div class="4u"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity35.jpg" alt=""><p>(2)Point Light(點光源)</p></span></div>
							<div class="4u"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity36.jpg" alt=""><p>(3)Spot Light(聚光燈) --> 調整角度後放在主角上即可成為手電筒</p></span></div>
							<div class="4u"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity37.jpg" alt=""><p>(4)Direct Light(平行光) -->照射整個世界的光，例如:太陽光、月光</p></span></div>
							<div class="12u"><p>(5)Inspector屬性視窗</p></div>
							<div class="4u"><span class="image fit" style="font-size: 110%"><img src="/class/unity/images/unity38.jpg" alt=""></span></div>
							<div class="8u"><p>◇&nbsp;Color --> 顏色<br>
											◇&nbsp;Intensity --> 強度<br>
											◇&nbsp;Shadow Type --> 影字型式<br>
											◇&nbsp;Cookie --> 可調整光的類型<br>
											◇&nbsp;Draw Halo --> 光暈<br>
											◇&nbsp;Flare --> 產生鏡頭光斑<br></p>
							</div>
						</div>
					</div>
				</section>
				<hr>
				<section id="C9">
					<h2>九、總結</h2>
					<h3>Resources：</h3>
					<p>
					◇&nbsp;<a href="http://docs.unity3d.com/Manual/index.html" target="_blank"	>http://docs.unity3d.com/Manual/index.html(官網Doc)</a><br>
					◇&nbsp;<a href="http://docs.unity3d.com/ScriptReference/index.html" target="_blank"	>http://docs.unity3d.com/ScriptReference/index.html(官網Doc)</a><br>
					◇&nbsp;<a href="https://www.mixamo.com/" target="_blank"	>https://www.mixamo.com/(許多人物動畫的網站)</a><br>
					◇&nbsp;<a href="http://www.autodesk.com/products/3ds-max/overview" target="_blank"	>http://www.autodesk.com/products/3ds-max/overview(好用的建模+動畫程式，而且學生專案可免費使用三年，不過下載非常困難，通常前幾次都會失敗)</a><br>
					◇&nbsp;<a href="https://goo.gl/JhNaLw" target="_blank"	>張凱鈞大學長的講義</a><br><br>
					※Unity 3D 還有非常多的功能，可以自己去摸索、Google。上面只是個很簡單很簡單的範例，要實際做出一個很漂亮的遊戲還有好一陣子要走，要有很棒的想法並堅持下去實踐，期待大家都能完成自己心目中的成品~~大家加油挖~~
					</p>
				</section>
			</div>
		</div>
	</div>
	<style type="text/css">
		p {
			font-size: 110%;
		}
		img {
			 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		}
	</style>
	<!-- Scripts -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/util.js"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	<script src="/js/main.js"></script>
	<script src="/unity.js"></script>
</body>