<% include ../partials/header.ejs %>
<script src="/js/jquery.min.js"></script>
<h1>New Judge</h1>
<form action='/class/<%= inforClass.name %>/judge' method='POST'>
	<input type="text" name="name" placeholder="Name" required>
	<input type="text" name="number" placeholder="Number" required>
	<label>Description<textarea name='description' required wrap="Physical"></textarea></label>
	<label>Sample Input<textarea name='exInput' required wrap="Virtual"></textarea></label>
	<label>Sample Output<textarea name='exOutput' required wrap="Virtual"></textarea></label>
	<select name="data" id='data'>
		<option>How many data</option>
		<option>1</option>
		<option>2</option>
		<option>4</option>
		<option>5</option>
		<option>10</option>
	</select>
	<p id='confirm'>Ok</p>
	
	<div id='io'>
	</div>
	
	<button>Submit</button>
</form>
<script type="text/javascript">
	$('#confirm').click(function() {
		if (!isNaN(parseInt($('#data').val()))) {
			for (var i = 0; i < parseInt($('#data').val()); i++) {
				$('#io').append("<label>Input" + (i + 1) + "<textarea name='input[" + i + "]'></textarea></label><label>Output" + (i + 1) + "<textarea name='output[" + i + "]'></textarea></label>")
			}
		}
	});
	
</script>
<% include ../partials/footer.ejs %>