<% include ../partials/header.ejs %>
<h1>New Judge</h1>
<form action='/class/<%= inforClass.name %>/judge' method='POST'>
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="number" placeholder="Number">
	<label>Description<textarea name='description'></textarea></label>
	<label>Input<textarea name='input'></textarea></label>
	<label>Output<textarea name='output'></textarea></label>
	<button>Submit</button>
</form>
<% include ../partials/footer.ejs %>